{% extends '@KRGUser/layout.html.twig' %}
{% trans_default_domain 'KRGUserBundle' %}

{% block container %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form(form) }}

    <a href="{{ path('krg_user_reset_request') }}">{{ 'security.login.forgot_password'|trans }}</a>
{% endblock %}
