{% extends '@KRGUser/layout.html.twig' %}
{% trans_default_domain 'KRGUserBundle' %}

{% block container %}
    <p>{{ 'email_alteration.help'|trans({}, 'KRGUserBundle') }}</p>

    {{ form(form) }}
{% endblock %}
