<div class="krg-toolbar-block">
    <a href="{{ path('easyadmin', {'_switch_user': '_exit'}) }}">
        <i class="fa fa-exit"></i> {{ 'Back to admin'|trans({}, 'toolbar') }} ({{ impersonatorUser.email }})
    </a>
</div>
