{% extends '@KRGMessage/Default/mail.html.twig' %}

{% block content %}
    <p>
        {{ 'message.invitation.body'|trans({
                '%name%': user.name,
                '%email%': user.email,
                '%url%': absolute_url(path('krg_user_guess_token', {token: user.invitationToken}))
            })|raw|nl2br
        }}
    </p>
{% endblock %}
