{% extends '@KRGMessage/Default/mail.html.twig' %}

{% block content %}
    INVITATION

    Link: <a href="{{ absolute_url(path('krg_user_guess_token', {token: user.invitationToken})) }}">
        {{ absolute_url(path('krg_user_guess_token', {token: user.invitationToken})) }}
    </a>
{% endblock %}
