{% extends '@KRGMessage/Default/mail.html.twig' %}

{% block content %}
    RESET PASSWORD

    Link: <a href="{{ absolute_url(path('krg_user_reset', {token: user.confirmationToken})) }}">
        {{ absolute_url(path('krg_user_reset', {token: user.confirmationToken})) }}
    </a>
{% endblock %}
