{% extends '@KRGMessage/Default/mail.html.twig' %}

{% block content %}
    <p>
        {{ 'message.reset_password.body'|trans({
                '%name%': user.name,
                '%email%': user.email,
                '%url%': absolute_url(path('krg_user_reset', {token: user.confirmationToken}))
            })|raw|nl2br
        }}
    </p>
{% endblock %}